### Import Libraries

In [1]:
import numpy as np
import pandas as pd

### Retrieve DataSet

In [2]:
data = pd.read_excel('INX_Future_Inc_Employee_Performance_CDS_Project2_Data_V1.8.xls')
data.head()

,EmpNumber,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,...,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition,PerformanceRating
0,E1001000,32,Male,Marketing,Single,Sales,Sales Executive,Travel_Rarely,10,3,...,4,10,2,2,10,7,0,8,No,3
1,E1001006,47,Male,Marketing,Single,Sales,Sales Executive,Travel_Rarely,14,4,...,4,20,2,3,7,7,1,7,No,3
2,E1001007,40,Male,Life Sciences,Married,Sales,Sales Executive,Travel_Frequently,5,4,...,3,20,2,3,18,13,1,12,No,4
3,E1001009,41,Male,Human Resources,Divorced,Human Resources,Manager,Travel_Rarely,10,4,...,2,23,2,2,21,6,12,6,No,3
4,E1001010,60,Male,Marketing,Single,Sales,Sales Executive,Travel_Rarely,16,4,...,4,10,1,3,2,2,2,2,No,3

In [16]:
data.groupby('PerformanceRating').count()

,EmpNumber,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,...,EmpLastSalaryHikePercent,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
PerformanceRating,,,,,,,,,,,,,,,,,,,,,
2,194,194,194,194,194,194,194,194,194,194,...,194,194,194,194,194,194,194,194,194,194
3,874,874,874,874,874,874,874,874,874,874,...,874,874,874,874,874,874,874,874,874,874
4,132,132,132,132,132,132,132,132,132,132,...,132,132,132,132,132,132,132,132,132,132

## Department-wise Performance Rating
### -------------------------------------------------------------

In [17]:
data.groupby('EmpDepartment').count()

,EmpNumber,Age,Gender,EducationBackground,MaritalStatus,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,EmpEnvironmentSatisfaction,...,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition,PerformanceRating
EmpDepartment,,,,,,,,,,,,,,,,,,,,,
Data Science,20,20,20,20,20,20,20,20,20,20,...,20,20,20,20,20,20,20,20,20,20
Development,361,361,361,361,361,361,361,361,361,361,...,361,361,361,361,361,361,361,361,361,361
Finance,49,49,49,49,49,49,49,49,49,49,...,49,49,49,49,49,49,49,49,49,49
Human Resources,54,54,54,54,54,54,54,54,54,54,...,54,54,54,54,54,54,54,54,54,54
Research & Development,343,343,343,343,343,343,343,343,343,343,...,343,343,343,343,343,343,343,343,343,343
Sales,373,373,373,373,373,373,373,373,373,373,...,373,373,373,373,373,373,373,373,373,373

In [18]:
Data_science = data[data['EmpDepartment'] == 'Data Science']
Data_science.groupby('PerformanceRating').count()

,EmpNumber,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,...,EmpLastSalaryHikePercent,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
PerformanceRating,,,,,,,,,,,,,,,,,,,,,
2,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3,17,17,17,17,17,17,17,17,17,17,...,17,17,17,17,17,17,17,17,17,17
4,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2

#### Good = 5%, Excellent = 85%, Outstanding = 10%

In [19]:
Development = data[data['EmpDepartment'] == 'Development']
Development.groupby('PerformanceRating').count()

,EmpNumber,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,...,EmpLastSalaryHikePercent,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
PerformanceRating,,,,,,,,,,,,,,,,,,,,,
2,13,13,13,13,13,13,13,13,13,13,...,13,13,13,13,13,13,13,13,13,13
3,304,304,304,304,304,304,304,304,304,304,...,304,304,304,304,304,304,304,304,304,304
4,44,44,44,44,44,44,44,44,44,44,...,44,44,44,44,44,44,44,44,44,44

#### Good = 3.6%, Excellent = 84.21%, Outstanding = 12.18%

In [20]:
Finance = data[data['EmpDepartment'] == 'Finance']
Finance.groupby('PerformanceRating').count()

,EmpNumber,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,...,EmpLastSalaryHikePercent,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
PerformanceRating,,,,,,,,,,,,,,,,,,,,,
2,15,15,15,15,15,15,15,15,15,15,...,15,15,15,15,15,15,15,15,15,15
3,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,30
4,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4

#### Good = 30.6%, Excellent = 61.2%, Outstanding = 8.2%

In [21]:
Human_Resources = data[data['EmpDepartment'] == 'Human Resources']
Human_Resources.groupby('PerformanceRating').count()

,EmpNumber,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,...,EmpLastSalaryHikePercent,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
PerformanceRating,,,,,,,,,,,,,,,,,,,,,
2,10,10,10,10,10,10,10,10,10,10,...,10,10,10,10,10,10,10,10,10,10
3,38,38,38,38,38,38,38,38,38,38,...,38,38,38,38,38,38,38,38,38,38
4,6,6,6,6,6,6,6,6,6,6,...,6,6,6,6,6,6,6,6,6,6

#### Good = 18.5%, Excellent = 70.4%, Outstanding = 11.1%

In [22]:
R_D = data[data['EmpDepartment'] == 'Research & Development']
R_D.groupby('PerformanceRating').count()

,EmpNumber,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,...,EmpLastSalaryHikePercent,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
PerformanceRating,,,,,,,,,,,,,,,,,,,,,
2,68,68,68,68,68,68,68,68,68,68,...,68,68,68,68,68,68,68,68,68,68
3,234,234,234,234,234,234,234,234,234,234,...,234,234,234,234,234,234,234,234,234,234
4,41,41,41,41,41,41,41,41,41,41,...,41,41,41,41,41,41,41,41,41,41

#### Good = 19.8%, Excellent = 68.2%, Outstanding = 12%

In [23]:
Sales = data[data['EmpDepartment'] == 'Sales']
Sales.groupby('PerformanceRating').count()

,EmpNumber,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,...,EmpLastSalaryHikePercent,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
PerformanceRating,,,,,,,,,,,,,,,,,,,,,
2,87,87,87,87,87,87,87,87,87,87,...,87,87,87,87,87,87,87,87,87,87
3,251,251,251,251,251,251,251,251,251,251,...,251,251,251,251,251,251,251,251,251,251
4,35,35,35,35,35,35,35,35,35,35,...,35,35,35,35,35,35,35,35,35,35

#### Good = 23.3%, Excellent = 67.3%, Outstanding = 9.4%

##### ------------------------------------------------------------------------------
##### LOW PERFORMANCE  =>  Development < Data_Science < HR < R & D < Sales < Finance
##### ------------------------------------------------------------------------------

In [7]:
Correlation = data.corr()

## TOP 3 FACTORS EFFECTING EMPLOYEE PERFORMANCE

In [16]:
Correlation[Correlation.PerformanceRating>0.1]

,Age,DistanceFromHome,EmpEducationLevel,EmpEnvironmentSatisfaction,EmpHourlyRate,EmpJobInvolvement,EmpJobLevel,EmpJobSatisfaction,NumCompaniesWorked,EmpLastSalaryHikePercent,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,PerformanceRating
EmpEnvironmentSatisfaction,0.013814,-0.017719,-0.037103,1.000000,-0.049501,0.004865,-0.008272,-0.004319,0.017270,-0.047271,-0.010504,-0.012894,0.001192,-0.000262,-0.000561,0.025491,0.010732,-0.011702,0.395561
EmpLastSalaryHikePercent,-0.006105,0.044974,0.002358,-0.047271,-0.015934,-0.001742,-0.020975,0.031847,-0.011788,1.000000,-0.042892,-0.005933,-0.013439,-0.017001,-0.019830,-0.004957,-0.015911,-0.007666,0.333722
EmpWorkLifeBalance,-0.019563,-0.044788,0.010276,-0.000262,0.016189,-0.014129,0.049218,-0.018548,0.002489,-0.017001,-0.004906,0.015495,0.037048,1.000000,0.023479,0.045719,0.015773,0.010518,0.124429
PerformanceRating,-0.040164,-0.046142,0.020529,0.395561,-0.043116,-0.010539,-0.076632,0.000606,0.020980,0.333722,-0.019502,-0.068141,-0.005443,0.124429,-0.111645,-0.147638,-0.167629,-0.122313,1.000000

In [11]:
Correlation[Correlation['PerformanceRating']<-0.1]

,Age,DistanceFromHome,EmpEducationLevel,EmpEnvironmentSatisfaction,EmpHourlyRate,EmpJobInvolvement,EmpJobLevel,EmpJobSatisfaction,NumCompaniesWorked,EmpLastSalaryHikePercent,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,PerformanceRating
ExperienceYearsAtThisCompany,0.318852,0.021908,0.076332,-0.000561,-0.000399,-0.039720,0.540377,0.001807,-0.129797,-0.019830,0.015612,0.633555,0.008564,0.023479,1.000000,0.764102,0.620230,0.759258,-0.111645
ExperienceYearsInCurrentRole,0.217163,0.019898,0.066672,0.025491,-0.011871,0.002910,0.399235,0.002018,-0.097271,-0.004957,-0.032131,0.460700,0.010222,0.045719,0.764102,1.000000,0.540600,0.728973,-0.147638
YearsSinceLastPromotion,0.228199,0.013246,0.054313,0.010732,-0.010000,-0.019944,0.360880,-0.006508,-0.031656,-0.015911,0.026253,0.412781,0.018831,0.015773,0.620230,0.540600,1.000000,0.491199,-0.167629
YearsWithCurrManager,0.205098,0.017860,0.088988,-0.011702,-0.004576,0.012924,0.374872,-0.022096,-0.109937,-0.007666,-0.006426,0.460783,-0.013237,0.010518,0.759258,0.728973,0.491199,1.000000,-0.122313

#### ------------------------------------------------------
#### TOP 1 : EMPLOYEE ENVIRONMENT SATISFACTION
#### ------------------------------------------------------

In [42]:
data.groupby('EmpEnvironmentSatisfaction').count()

,EmpNumber,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,...,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition,PerformanceRating
EmpEnvironmentSatisfaction,,,,,,,,,,,,,,,,,,,,,
1,230,230,230,230,230,230,230,230,230,230,...,230,230,230,230,230,230,230,230,230,230
2,242,242,242,242,242,242,242,242,242,242,...,242,242,242,242,242,242,242,242,242,242
3,367,367,367,367,367,367,367,367,367,367,...,367,367,367,367,367,367,367,367,367,367
4,361,361,361,361,361,361,361,361,361,361,...,361,361,361,361,361,361,361,361,361,361

In [45]:
Low = data[data['EmpEnvironmentSatisfaction'] == 1]
Low.groupby('PerformanceRating').count()

,EmpNumber,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,...,EmpLastSalaryHikePercent,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
PerformanceRating,,,,,,,,,,,,,,,,,,,,,
2,90,90,90,90,90,90,90,90,90,90,...,90,90,90,90,90,90,90,90,90,90
3,127,127,127,127,127,127,127,127,127,127,...,127,127,127,127,127,127,127,127,127,127
4,13,13,13,13,13,13,13,13,13,13,...,13,13,13,13,13,13,13,13,13,13

#### Good = 39.1%, Excellent = 55.2%, Outstanding = 5.7%

In [46]:
Medium = data[data['EmpEnvironmentSatisfaction'] == 2]
Medium.groupby('PerformanceRating').count()

,EmpNumber,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,...,EmpLastSalaryHikePercent,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
PerformanceRating,,,,,,,,,,,,,,,,,,,,,
2,98,98,98,98,98,98,98,98,98,98,...,98,98,98,98,98,98,98,98,98,98
3,130,130,130,130,130,130,130,130,130,130,...,130,130,130,130,130,130,130,130,130,130
4,14,14,14,14,14,14,14,14,14,14,...,14,14,14,14,14,14,14,14,14,14

#### Good = 40.5%, Excellent = 53.7%, Outstanding = 5.8%

In [47]:
High = data[data['EmpEnvironmentSatisfaction'] == 3]
High.groupby('PerformanceRating').count()

,EmpNumber,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,...,EmpLastSalaryHikePercent,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
PerformanceRating,,,,,,,,,,,,,,,,,,,,,
2,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
3,310,310,310,310,310,310,310,310,310,310,...,310,310,310,310,310,310,310,310,310,310
4,54,54,54,54,54,54,54,54,54,54,...,54,54,54,54,54,54,54,54,54,54

#### Good = 0.8%, Excellent = 84.5%, Outstanding = 14.7%

In [48]:
Very_High = data[data['EmpEnvironmentSatisfaction'] == 4]
Very_High.groupby('PerformanceRating').count()

,EmpNumber,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,...,EmpLastSalaryHikePercent,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
PerformanceRating,,,,,,,,,,,,,,,,,,,,,
2,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
3,307,307,307,307,307,307,307,307,307,307,...,307,307,307,307,307,307,307,307,307,307
4,51,51,51,51,51,51,51,51,51,51,...,51,51,51,51,51,51,51,51,51,51

#### Good = 0.8%, Excellent = 85%, Outstanding = 14.1%

##### As we can see, Employee Environment Satisfaction is very important for its performance
##### Number of Employee with Good performance
##### ----------------------------------------------------------------
##### Very_High < High < Low < Medium
##### ----------------------------------------------------------------
##### Number of Employee with Outstanding performance
##### ----------------------------------------------------------------
##### Low < Medium < Very_High < High
##### ----------------------------------------------------------------

#### ------------------------------------------------------
#### TOP 2 : EMPLOYEE LAST SALARY HIKE PERCENT
#### ------------------------------------------------------

In [49]:
data.groupby('EmpLastSalaryHikePercent').count()

,EmpNumber,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,...,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition,PerformanceRating
EmpLastSalaryHikePercent,,,,,,,,,,,,,,,,,,,,,
11,169,169,169,169,169,169,169,169,169,169,...,169,169,169,169,169,169,169,169,169,169
12,155,155,155,155,155,155,155,155,155,155,...,155,155,155,155,155,155,155,155,155,155
13,168,168,168,168,168,168,168,168,168,168,...,168,168,168,168,168,168,168,168,168,168
14,172,172,172,172,172,172,172,172,172,172,...,172,172,172,172,172,172,172,172,172,172
15,82,82,82,82,82,82,82,82,82,82,...,82,82,82,82,82,82,82,82,82,82
16,68,68,68,68,68,68,68,68,68,68,...,68,68,68,68,68,68,68,68,68,68
17,67,67,67,67,67,67,67,67,67,67,...,67,67,67,67,67,67,67,67,67,67
18,73,73,73,73,73,73,73,73,73,73,...,73,73,73,73,73,73,73,73,73,73
19,63,63,63,63,63,63,63,63,63,63,...,63,63,63,63,63,63,63,63,63,63
20,50,50,50,50,50,50,50,50,50,50,...,50,50,50,50,50,50,50,50,50,50
21,34,34,34,34,34,34,34,34,34,34,...,34,34,34,34,34,34,34,34,34,34
22,47,47,47,47,47,47,47,47,47,47,...,47,47,47,47,47,47,47,47,47,47
23,21,21,21,21,21,21,21,21,21,21,...,21,21,21,21,21,21,21,21,21,21
24,18,18,18,18,18,18,18,18,18,18,...,18,18,18,18,18,18,18,18,18,18
25,13,13,13,13,13,13,13,13,13,13,...,13,13,13,13,13,13,13,13,13,13

In [52]:
P11 = data[data['EmpLastSalaryHikePercent'] == 11]
P11.groupby('PerformanceRating').count()

,EmpNumber,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,...,EmpLastSalaryHikePercent,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
PerformanceRating,,,,,,,,,,,,,,,,,,,,,
2,28,28,28,28,28,28,28,28,28,28,...,28,28,28,28,28,28,28,28,28,28
3,140,140,140,140,140,140,140,140,140,140,...,140,140,140,140,140,140,140,140,140,140
4,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

#### Good = 16.6%, Excellent = 82.8%, Outstanding = 0.6%

In [53]:
P12 = data[data['EmpLastSalaryHikePercent'] == 12]
P12.groupby('PerformanceRating').count()

,EmpNumber,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,...,EmpLastSalaryHikePercent,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
PerformanceRating,,,,,,,,,,,,,,,,,,,,,
2,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,30
3,123,123,123,123,123,123,123,123,123,123,...,123,123,123,123,123,123,123,123,123,123
4,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2

#### Good = 19.4%, Excellent = 79.4%, Outstanding = 1.3%

In [54]:
P13 = data[data['EmpLastSalaryHikePercent'] == 13]
P13.groupby('PerformanceRating').count()

,EmpNumber,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,...,EmpLastSalaryHikePercent,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
PerformanceRating,,,,,,,,,,,,,,,,,,,,,
2,27,27,27,27,27,27,27,27,27,27,...,27,27,27,27,27,27,27,27,27,27
3,138,138,138,138,138,138,138,138,138,138,...,138,138,138,138,138,138,138,138,138,138
4,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3

#### Good = 16.1%, Excellent = 82.1%, Outstanding = 1.8%

In [55]:
P14 = data[data['EmpLastSalaryHikePercent'] == 14]
P14.groupby('PerformanceRating').count()

,EmpNumber,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,...,EmpLastSalaryHikePercent,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
PerformanceRating,,,,,,,,,,,,,,,,,,,,,
2,28,28,28,28,28,28,28,28,28,28,...,28,28,28,28,28,28,28,28,28,28
3,140,140,140,140,140,140,140,140,140,140,...,140,140,140,140,140,140,140,140,140,140
4,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4

#### Good = 16.3%, Excellent = 81.4%, Outstanding = 2.3%

In [56]:
P15 = data[data['EmpLastSalaryHikePercent'] == 15]
P15.groupby('PerformanceRating').count()

,EmpNumber,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,...,EmpLastSalaryHikePercent,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
PerformanceRating,,,,,,,,,,,,,,,,,,,,,
2,11,11,11,11,11,11,11,11,11,11,...,11,11,11,11,11,11,11,11,11,11
3,67,67,67,67,67,67,67,67,67,67,...,67,67,67,67,67,67,67,67,67,67
4,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4

#### Good = 13.4%, Excellent = 81.7%, Outstanding = 4.9%

In [57]:
P16 = data[data['EmpLastSalaryHikePercent'] == 16]
P16.groupby('PerformanceRating').count()

,EmpNumber,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,...,EmpLastSalaryHikePercent,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
PerformanceRating,,,,,,,,,,,,,,,,,,,,,
2,12,12,12,12,12,12,12,12,12,12,...,12,12,12,12,12,12,12,12,12,12
3,54,54,54,54,54,54,54,54,54,54,...,54,54,54,54,54,54,54,54,54,54
4,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2

#### Good = 17.6%, Excellent = 79.4%, Outstanding = 2.9%

In [58]:
P17 = data[data['EmpLastSalaryHikePercent'] == 17]
P17.groupby('PerformanceRating').count()

,EmpNumber,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,...,EmpLastSalaryHikePercent,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
PerformanceRating,,,,,,,,,,,,,,,,,,,,,
2,9,9,9,9,9,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
3,55,55,55,55,55,55,55,55,55,55,...,55,55,55,55,55,55,55,55,55,55
4,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3

#### Good = 13.4%, Excellent = 82.1%, Outstanding = 4.5%

In [59]:
P18 = data[data['EmpLastSalaryHikePercent'] == 18]
P18.groupby('PerformanceRating').count()

,EmpNumber,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,...,EmpLastSalaryHikePercent,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
PerformanceRating,,,,,,,,,,,,,,,,,,,,,
2,10,10,10,10,10,10,10,10,10,10,...,10,10,10,10,10,10,10,10,10,10
3,63,63,63,63,63,63,63,63,63,63,...,63,63,63,63,63,63,63,63,63,63

#### Good = 13.7%, Excellent = 86.3%, Outstanding = 0%

In [60]:
P19 = data[data['EmpLastSalaryHikePercent'] == 19]
P19.groupby('PerformanceRating').count()

,EmpNumber,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,...,EmpLastSalaryHikePercent,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
PerformanceRating,,,,,,,,,,,,,,,,,,,,,
2,10,10,10,10,10,10,10,10,10,10,...,10,10,10,10,10,10,10,10,10,10
3,51,51,51,51,51,51,51,51,51,51,...,51,51,51,51,51,51,51,51,51,51
4,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2

#### Good = 15.9%, Excellent = 81%, Outstanding = 3.1%

In [61]:
P20 = data[data['EmpLastSalaryHikePercent'] == 20]
P20.groupby('PerformanceRating').count()

,EmpNumber,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,...,EmpLastSalaryHikePercent,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
PerformanceRating,,,,,,,,,,,,,,,,,,,,,
2,9,9,9,9,9,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
3,14,14,14,14,14,14,14,14,14,14,...,14,14,14,14,14,14,14,14,14,14
4,27,27,27,27,27,27,27,27,27,27,...,27,27,27,27,27,27,27,27,27,27

#### Good = 18%, Excellent = 28%, Outstanding = 54%

In [62]:
P21 = data[data['EmpLastSalaryHikePercent'] == 21]
P21.groupby('PerformanceRating').count()

,EmpNumber,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,...,EmpLastSalaryHikePercent,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
PerformanceRating,,,,,,,,,,,,,,,,,,,,,
2,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
3,6,6,6,6,6,6,6,6,6,6,...,6,6,6,6,6,6,6,6,6,6
4,24,24,24,24,24,24,24,24,24,24,...,24,24,24,24,24,24,24,24,24,24

#### Good = 11.8%, Excellent = 17.6%, Outstanding = 70.6%

In [63]:
P22 = data[data['EmpLastSalaryHikePercent'] == 22]
P22.groupby('PerformanceRating').count()

,EmpNumber,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,...,EmpLastSalaryHikePercent,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
PerformanceRating,,,,,,,,,,,,,,,,,,,,,
2,7,7,7,7,7,7,7,7,7,7,...,7,7,7,7,7,7,7,7,7,7
3,13,13,13,13,13,13,13,13,13,13,...,13,13,13,13,13,13,13,13,13,13
4,27,27,27,27,27,27,27,27,27,27,...,27,27,27,27,27,27,27,27,27,27

#### Good = 14.9%, Excellent = 27.7%, Outstanding = 57.4%

In [64]:
P23 = data[data['EmpLastSalaryHikePercent'] == 23]
P23.groupby('PerformanceRating').count()

,EmpNumber,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,...,EmpLastSalaryHikePercent,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
PerformanceRating,,,,,,,,,,,,,,,,,,,,,
2,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
3,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
4,15,15,15,15,15,15,15,15,15,15,...,15,15,15,15,15,15,15,15,15,15

#### Good = 19%, Excellent = 9.5%, Outstanding = 71.5%

In [65]:
P24 = data[data['EmpLastSalaryHikePercent'] == 24]
P24.groupby('PerformanceRating').count()

,EmpNumber,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,...,EmpLastSalaryHikePercent,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
PerformanceRating,,,,,,,,,,,,,,,,,,,,,
2,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
3,5,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
4,11,11,11,11,11,11,11,11,11,11,...,11,11,11,11,11,11,11,11,11,11

#### Good = 11.1%, Excellent = 2.8%, Outstanding = 61.1%

In [66]:
P25 = data[data['EmpLastSalaryHikePercent'] == 25]
P25.groupby('PerformanceRating').count()

,EmpNumber,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,...,EmpLastSalaryHikePercent,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
PerformanceRating,,,,,,,,,,,,,,,,,,,,,
2,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
3,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
4,7,7,7,7,7,7,7,7,7,7,...,7,7,7,7,7,7,7,7,7,7

#### Good = 23.1%, Excellent = 23.1%, Outstanding = 53.8%

##### ----------------------------------------------------------------------------------
##### As we can see, Employee salary hike affect on their performance. 
##### 11 - 19 % hike doesn't effect that much but after 19% hike performance increase instantly
##### -----------------------------------------------------------------------------------

#### ------------------------------------------------------
#### TOP 3 : EMPLOYEE WORK LIFE BALANCE
#### ------------------------------------------------------

In [19]:
data['EmpWorkLifeBalance'].unique()

array([2, 3, 4, 1], dtype=int64)

In [20]:
data.groupby('EmpWorkLifeBalance').count()

,EmpNumber,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,...,EmpLastSalaryHikePercent,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition,PerformanceRating
EmpWorkLifeBalance,,,,,,,,,,,,,,,,,,,,,
1,64,64,64,64,64,64,64,64,64,64,...,64,64,64,64,64,64,64,64,64,64
2,294,294,294,294,294,294,294,294,294,294,...,294,294,294,294,294,294,294,294,294,294
3,727,727,727,727,727,727,727,727,727,727,...,727,727,727,727,727,727,727,727,727,727
4,115,115,115,115,115,115,115,115,115,115,...,115,115,115,115,115,115,115,115,115,115

In [69]:
Bad = data[data['EmpWorkLifeBalance'] == 1]
Bad.groupby('PerformanceRating').count()

,EmpNumber,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,...,EmpLastSalaryHikePercent,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
PerformanceRating,,,,,,,,,,,,,,,,,,,,,
2,16,16,16,16,16,16,16,16,16,16,...,16,16,16,16,16,16,16,16,16,16
3,48,48,48,48,48,48,48,48,48,48,...,48,48,48,48,48,48,48,48,48,48

#### Good = 25%, Excellent = 75%, Outstanding = 0%

In [70]:
Good = data[data['EmpWorkLifeBalance'] == 2]
Good.groupby('PerformanceRating').count()

,EmpNumber,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,...,EmpLastSalaryHikePercent,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
PerformanceRating,,,,,,,,,,,,,,,,,,,,,
2,51,51,51,51,51,51,51,51,51,51,...,51,51,51,51,51,51,51,51,51,51
3,216,216,216,216,216,216,216,216,216,216,...,216,216,216,216,216,216,216,216,216,216
4,27,27,27,27,27,27,27,27,27,27,...,27,27,27,27,27,27,27,27,27,27

#### Good = 17.3%, Excellent = 73.5%, Outstanding = 9.2%

In [71]:
Better = data[data['EmpWorkLifeBalance'] == 3]
Better.groupby('PerformanceRating').count()

,EmpNumber,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,...,EmpLastSalaryHikePercent,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
PerformanceRating,,,,,,,,,,,,,,,,,,,,,
2,115,115,115,115,115,115,115,115,115,115,...,115,115,115,115,115,115,115,115,115,115
3,533,533,533,533,533,533,533,533,533,533,...,533,533,533,533,533,533,533,533,533,533
4,79,79,79,79,79,79,79,79,79,79,...,79,79,79,79,79,79,79,79,79,79

#### Good =15.8%, Excellent = 73.3%, Outstanding = 10.9%

In [72]:
Best = data[data['EmpWorkLifeBalance'] == 4]
Best.groupby('PerformanceRating').count()

,EmpNumber,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,...,EmpLastSalaryHikePercent,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
PerformanceRating,,,,,,,,,,,,,,,,,,,,,
2,12,12,12,12,12,12,12,12,12,12,...,12,12,12,12,12,12,12,12,12,12
3,77,77,77,77,77,77,77,77,77,77,...,77,77,77,77,77,77,77,77,77,77
4,26,26,26,26,26,26,26,26,26,26,...,26,26,26,26,26,26,26,26,26,26

#### Good = 10.4%, Excellent = 67%, Outstanding = 22.6%

##### As we can see, Employee should need balanced work life so that they perform well. 
##### Here decrease in number of people with bad performance and increase in number of people with outstanding performance.